@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: XCompany;
  src: url(assets/XCompany-Regular.ttf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light-theme {
  --bg: #fff;
  --color: #000;
  --btn-bg: rgb(15, 20, 25);
  --btn-color: #fff;
  --btn-bg-hover: rgb(39, 44, 48);
  --list-item-hover-bg: rgb(15, 20, 25, 0.1);
  --border-color: rgb(185, 202, 211);
  --bg-hover: rgb(0, 0, 0, 0.03);
  --sticky-header-bg: #fff;
  --sticky-header-pinned-bg: rgba(255, 255, 255, 0.5);
  --outline-color: rgb(185, 202, 211);
}

:root.dark-theme {
  --bg: #000;
  --color: #fff;
  --btn-bg: #fff;
  --btn-color: #000;
  --btn-bg-hover:rgb(215, 219, 220);
  --list-item-hover-bg: rgb(24, 24, 24);
  --border-color: rgb(47, 51, 54);
  --bg-hover: rgb(255, 255, 255, 0.06);
  --sticky-header-bg: #000;
  --sticky-header-pinned-bg: rgba(0, 0, 0, 0.5);
  --outline-color: rgb(71, 77, 82);
}

:root:not(.dark-theme) {
  color: var(--color);
  background-color: var(--bg);
}

:root:not(.light-theme) {
  color: var(--color);
  background-color: var(--bg);
}

input {
  color: var(--color);
  background-color: var(--bg);
}

a {
  all: unset !important;
}

.blue-btn {
  background-color: rgb(29, 155, 240);
  color: #fff;
}

.blue-btn:hover {
  background-color: rgb(26, 140, 216);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:not(.epr-btn) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover:not(.epr-btn):not(:disabled) {
  background-color: var(--btn-bg-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sidebar {
  margin-left: 200px;
  padding-right: 60px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  margin-top: 15px;
}

.sidebar-list > li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 20px;
  border-radius: 26px;
  cursor: pointer;
  font-size: 1.3rem;
}

.sidebar-list > li > a {
  display: flex !important;
  align-items: center !important;
  gap: 14px !important;
}

.sidebar-list > li:hover {
  background-color: var(--list-item-hover-bg);
}

.center-section {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.feed {
  overflow-y: auto;
}

.right-bar {
  overflow: hidden;
  height: 100vh;
  padding-left: 40px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.suggestion-box {
  width: 350px;
  border: 1px solid var(--border-color);
}

.divide-border {
  border-top: 1px solid lightgrey;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--color);
  opacity: 0.6;
}

.post-profile-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.post-img {
  height: 200px;
  border-radius: 12px;
}

.content-input {
  resize: none;
  /* field-sizing: content; */
}

.content-input:focus-visible {
  outline: none;
}

.post-img-remove {
  position: absolute;
  border-radius: 50% !important;
  padding: 0 !important;
  height: 20px;
  width: 20px;
  font-size: 10px !important;
  font-weight: bold !important;
  top: 7px;
  left: 7px;
}

.text-blue {
  color: rgb(29 155 240);
}

.icon-value {
  display: flex;
  gap: 2px;
  align-items: center;
  color: gray;
  cursor: pointer;
}

.icon-value > span {
  font-size: 14px;
}

.icon-value > svg:hover {
  background-color: var(--bg-hover);
  border-radius: 50%;
}

.icon-value.repost {
  color: #00ba7c;
}

.notification-item > svg {
  margin-top: 7px;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100%;
}
.grow-wrap::after {
  word-break: break-all;
  /* Note the weird space! Needed to prevent jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  margin-top: 10px;
  padding: 0.1rem 0.3rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.feed-post {
  cursor: pointer;
  border-color: var(--border-color);
}

.feed-post:hover {
  background-color: var(--bg-hover);
}

.cover-bg {
  background-color: gainsboro;
  height: 170px;
  width: 100%;
}

.profile-img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 110px;
  left: 10px;
  object-fit: cover;
}

.edit-profile-btn {
  position: absolute;
  right: 12px;
  top: -55px;
  background-color: var(--bg) !important;
  color: var(--color) !important;
}

.edit-profile-btn:hover {
  background-color: var(--bg-hover) !important;
}

.edit-profile-btn:focus,
.edit-profile-btn:focus-visible {
  outline: none;
}

.center-absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.tabs > .active::after {
  content: "";
  display: block;
  width: 38px;
  height: 4px;
  background-color: rgb(29, 155, 240);
  border-radius: 1px;
  position: absolute;
  bottom: 0;
}

.sticky-header {
  background-color: var(--sticky-header-bg);
  position: sticky;
  top: -1px;
}

/* styles for when the header is in sticky mode */
.sticky-header.is-pinned {
  background-color: var(--sticky-header-pinned-bg);
  backdrop-filter: blur(10px);
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.3rem;
}

.media-grid > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

/* class applied to the body when modal is open */
.modal-open {
  overflow: hidden;
}

.label-field {
  border: none;
  position: relative;
  margin-bottom: 20px;
}

.label-field > label {
  font-size: 15px;
  transition: all 0.2s ease-out 0.25s;
  position: absolute;
  top: 13px;
  left: 9px;
}

.label-field > input {
  outline: 1px solid var(--outline-color);
  padding: 0 8px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.label-field > .char-count {
  visibility: hidden;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 14px;
  opacity: 0.7;
}

.label-field > input:focus ~ .char-count,
.label-field > textarea:focus ~ .char-count {
  visibility: visible;
}

.label-field > input:focus,
.label-field > textarea:focus {
  outline: 2px solid rgb(29, 155, 240);
}

.label-field > input:focus ~ label,
.label-field > textarea:focus ~ label {
  transform: translate(0, -10px);
  font-size: 13px;
  opacity: 0.7;
}

.label-field > input:not(:focus, :placeholder-shown) ~ label,
.label-field > textarea:not(:focus, :placeholder-shown) ~ label {
  transform: translate(0, -10px);
  font-size: 13px;
}

.label-field > textarea {
  outline: 1px solid var(--outline-color);
  padding: 0 8px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  resize: none;
}

textarea {
  background-color: var(--bg);
}

.ReactModal__Content--after-open {
  color: var(--color) !important;
  background-color: var(--bg) !important;
}