@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset !important;
}

.blue-btn {
  background-color: rgb(29, 155, 240);
  color: #fff;
}

.blue-btn:hover {
  background-color: rgb(26, 140, 216);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:not(.epr-btn) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(15, 20, 25);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover:not(.epr-btn) {
  background-color: rgb(39, 44, 48);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sidebar {
  margin-left: 200px;
  padding-right: 60px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar-list {
  margin-top: 15px;
}

.sidebar-list > li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1.3rem;
}

.sidebar-list > li > a {
  display: flex !important;
  align-items: center !important;
  gap: 14px !important;
}

.sidebar-list > li:hover {
  background-color: aliceblue;
} 

.center-section {
  border-left: 1px solid rgb(185, 202, 211);
  border-right: 1px solid rgb(185, 202, 211);
}

.feed {
  overflow-y: auto;
}

.right-bar {
  overflow: hidden;
  height: 100vh;
  padding-left: 40px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.suggestion-box {
  width: 300px;
}

.divide-border {
  border-top: 1px solid lightgrey;
}

button:disabled {
  cursor: not-allowed;
  background-color: #000;
  opacity: 0.6;
}

.post-profile-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.post-img {
  height: 200px;
  border-radius: 12px;
}

.content-input {
  resize: none;
  /* field-sizing: content; */
}

.content-input:focus-visible {
  outline: none;
}

.post-img-remove {
  position:absolute;
  border-radius: 50% !important;
  padding: 0 !important;
  height: 20px;
  width: 20px;
  font-size: 10px !important;
  font-weight: bold !important;
  top: 7px;
  left: 7px; 
}

.text-blue {
  color: rgb(29 155 240);
}

.icon-value {
  display: flex;
  gap: 2px;
  align-items: center;
  color: gray;
  cursor: pointer;
}

.icon-value > span {
  font-size: 14px;
}

.icon-value > svg:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-value.repost {
  color: #00BA7C;
}

.notification-item > svg {
  margin-top: 7px;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100%;
}
.grow-wrap::after {
  word-break: break-all;
  /* Note the weird space! Needed to prevent jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  margin-top: 10px;
  padding: 0.1rem 0.3rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.feed-post {
  cursor: pointer;
}

.feed-post:hover {
  background-color: rgb(0, 0, 0, 0.03);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }

  input {
    color: #000;
  }

  .ReactModal__Content--after-open {
    color: #fff !important;
    background-color: #000 !important;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #fff;
    color: #000;
  }

  button:hover {
    background-color: rgb(215, 219, 220);
  }

  button:disabled {
    cursor: not-allowed;
    background-color: #fff;
    opacity: 0.6;
  }

  .icon-value > svg:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 50%;
  }
}
